.center {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.section {
  padding-top: 20px;
}

.logo {
  max-width: 300px;
  display: block;
  margin: auto;
}

.victim {
  max-width: 300px;
}
